
html,body{
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

#nav{
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}
#nav a{
    margin-right: 20px;
    cursor: pointer;
}
#nav a.topimage{
    width: 20px;
    height: 20px;
    background: blue;
    border-radius: 7px;
}
#middel{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#logo img{
    text-align: center ;
    border-radius: 100px;
}
#search_bar{
 text-align: center;
 margin-top: 30px;
 position: relative;
}
#searchbar{
    padding-top: 20px;
    padding-bottom: 20px;
    outline: 0;
    width: 550px;
    border-radius: 100px;
    border: solid 1px rgb(185, 185, 185);
}
#searchlogo,#voicelogo{
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#searchlogo{
    left: 15px;
    background-image: url();
}
#voicelogo{
    right: 15px;
}
#searchbar:hover{
    box-shadow: 0 0 10px 2px lightblue;
}
#button{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.button{
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    background: red;
}
#link{
    text-align: center;
    margin-top: 20px;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
#footer_conten{
    border-top: 1px solid red;
    margin-bottom: 30px;
}